<div class="py-16">
  <h3 class="font-bold text-4xl">Fade-in</h3>
  <div class="my-20 w-96 h-96 rounded-lg ">
    <div data-controller="fade-in" 
        data-fade-in-duration-value="500" 
        data-fade-in-delay-value="200"
        data-fade-in-trigger-value="scroll"
        class="w-full h-full flex items-center justify-center text-white text-xl font-semibold rounded-lg bg-gradient-to-br from-green-500 to-teal-600 shadow-lg"
    />
  </div>
</div>
