<div 
  data-controller="flip-left" 
  data-flip-left-duration-value="350" 
  data-flip-left-delay-value="200"
  data-flip-left-trigger-value="scroll"
>
  <%# ONLY ONE CHILD PER ANIMATION PARENT %>
  <div class="effect-box bg-gradient-to-br from-violet-500 to-fuchsia-600"></div>
</div>
