<div class="py-16">
  <h3 class="font-bold text-4xl">Flip-left</h3>
  <div 
    class="my-20"
    data-controller="flip-left" 
    data-flip-left-duration-value="350" 
    data-flip-left-delay-value="200"
    data-flip-left-trigger-value="scroll"
  >
    <!-- ONLY ONE CHILD PER ANIMATION PARENT -->
    <div class="flex items-center justify-center w-96 h-96 text-white text-xl font-semibold rounded-lg bg-gradient-to-br from-violet-500 to-fuchsia-600 shadow-lg" />
  </div>
</div>
