<div class="py-16">
  <h3 class="font-bold text-4xl">Flip-left</h3>
  <div class="my-20 w-96 h-96 rounded-lg ">
    <div data-controller="flip-left" 
        data-flip-left-duration-value="500" 
        data-flip-left-delay-value="200"
        data-flip-left-trigger-value="scroll"
        class="w-full h-full flex items-center justify-center text-white text-xl font-semibold rounded-lg bg-gradient-to-br from-violet-500 to-fuchsia-600 shadow-lg"
    />
  </div>
</div>
