<div 
  data-controller="slide-up" 
  data-slide-up-duration-value="350" 
  data-slide-up-delay-value="200"
  data-slide-up-trigger-value="scroll"
>
  <%# ONLY ONE CHILD PER ANIMATION PARENT %>
  <div class="effect-box bg-gradient-to-br from-red-500 to-rose-600"></div>
</div>
