<div 
  data-controller="zoom-out" 
  data-zoom-out-duration-value="350" 
  data-zoom-out-delay-value="200"
  data-zoom-out-trigger-value="scroll"
>
  <%# ONLY ONE CHILD PER ANIMATION PARENT %>
  <div class="effect-box bg-gradient-to-br from-blue-500 to-indigo-600"></div>
</div>

