<div 
  data-controller="zoom-in" 
  data-zoom-in-duration-value="350" 
  data-zoom-in-delay-value="100"
  data-zoom-in-trigger-value="scroll"
>
  <%# ONLY ONE CHILD PER ANIMATION PARENT %>
  <div class="effect-box bg-gradient-to-br from-red-500 to-amber-600"></div>
</div>
