<fieldset class="mt-12">
  <ul class="flex justify-evenly">
    <li>
      <input data-direction-target="direction" data-action="click->direction#select" class="m-1" type="radio" id="slide_direction_up" name="direction" value="up" checked />
      <label for="slide_direction_up">Up</label>
    </li>
    <li>
      <input data-direction-target="direction" data-action="click->direction#select" class="m-1" type="radio" id="slide_direction_down" name="direction" value="down" />
      <label for="slide_direction_down">Down</label>
    </li>
    <li>
      <input data-direction-target="direction" data-action="click->direction#select" class="m-1" type="radio" id="slide_direction_left" name="direction" value="left" />
      <label for="slide_direction_left">Left</label>
    </li>
    <li>
      <input data-direction-target="direction" data-action="click->direction#select" class="m-1" type="radio" id="slide_direction_right" name="direction" value="right" />
      <label for="slide_direction_right">Right</label>
    </li>
  </ul>
</fieldset>